header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1rem;
    background-color: #4982fc;
    color: white;
}

.logo img {
    width: 180px; 
    height: 160px; 
  }
  .logo{
    margin: 10px;
    padding: 5px;
  }
  

.enlaces {
    text-align: right;
}

.enlaces ul {
    list-style: none;
}

.enlaces li {
    display: inline;
    /* margin-right: 10px; */
}
.enlaces ul li a{
    text-decoration:none ;
    background-color: black;
    color: azure;
    padding: 5px;
    /* margin: 5px; */
    border-radius: 30px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 1rem;
    background-color: #4982fc;
    color: white;
}

.leyenda {}

.redes-sociales {
    text-align: right;
    
}

.redes-sociales ul {
    list-style: none;
    
}

.redes-sociales li {
    display: inline;
    margin-right: 10px;
    
}
.Telefono{
    padding: 25px;

}
.formulario{
    padding: 25px;
}



#imagen1{
    float: left;
    box-sizing: border-box;

}
#imagen2{
    float: right;
    box-sizing: border-box;
}
#imagen1 img, #imagen2 img{
    width: 600px;
    height: 500px;
}
.portada img{
    width: 1500px;
    height: 900px;
}

