:root {
    --blue-ribbon-50: #eef7ff;
    --blue-ribbon-100: #d8ebff;
    --blue-ribbon-200: #badcff;
    --blue-ribbon-300: #8bc9ff;
    --blue-ribbon-400: #54aaff;
    --blue-ribbon-500: #2d86ff;
    --blue-ribbon-600: #0c5ffa;
    --blue-ribbon-700: #0f4fe6;
    --blue-ribbon-800: #1340ba;
    --blue-ribbon-900: #163a92;
    --blue-ribbon-950: #122559;


}

/* Reglas generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Todo el ancho, sin padding y sin margenes */
/* Fin de Reglas Generales */

/*Header/Barra de navegación */
.main-nav {

    display: flex !important;
    background: linear-gradient(var(--blue-ribbon-400), var(--blue-ribbon-500));
    /* position: fixed; */
    /* aún no sé si: dejar la barra fija o no?*/
    width: 100%;
    z-index: 5;
    padding: 10px 20px !important;
    align-items: center;
    justify-content: space-between;

}



.logo {

    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 20px 40px;
    font-size: 1.3rem;
    color: #fff;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    align-items: center;
    font-size: 24px;
    color: #ffffff;

}

.nav-link {
    list-style: none !important;
    display: flex !important;
}

.nav-links a {
    text-decoration: none;
    /* color: #fff; */
}

.main-nav ul {
    /* display: flex; */
    margin-left: auto;
    margin-right: 100px;
    /* list-style: none; */
    /* chau puntitos */
}

ul {
    transition: max-height 1s ease-out;
    -webkit-transition: max-height 1s ease-out;
    -moz-transition: max-height 1s ease-out;
    -ms-transition: max-height 1s ease-out;
    -o-transition: max-height 1s ease-out;
}


ul li a {
    display: inline-block;
    padding: 20px 20px !important;
    font-size: 1.3rem;
    color: #fff;
    /* border: 2px solid rgba(255, 255, 255, 0); */
    text-align: center;
    outline: none;
    text-decoration: none !important;
    transition: background-color 0.2s ease-out,
        color 0.2s ease-out;
}

ul li a:hover {
    background-color: rgba(255, 255, 255, 0.13);
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
    -webkit-transition: background-color 0.3s ease-in, ;
    -moz-transition: background-color 0.3s ease-in, ;
    -ms-transition: background-color 0.3s ease-in, ;
    -o-transition: background-color 0.3s ease-in, ;
}

ul li a:active {
    background: #4141ef;
    background-color: rgba(34, 6, 98, 0.13);
    color: #886464;
    transition: background-color 0.3s ease-in,
        color 0.3s ease-in;
}

/*Fin Header/Barra de navegación */



/* Footer */
.pie-pagina {
    position: relative;
    width: 100%;
    background: linear-gradient(var(--blue-ribbon-400), var(--blue-ribbon-500));
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 25px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* Alinear horizontal */
    align-items: center;
    /* Alinear vertical */
}

.pie-pagina .grupo-1 .box figure img {
    width: 100px;
    /* Tamaño de la imagen */
}

.pie-pagina .grupo-1 .box h2 {
    /* Sobre nosotros y Redes Sociales */
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    /* Párrafo */
    text-align: center;
    color: #efefef;
}



.red-social a {

    /*Iconosdelinks*/
    display: inline-block;
    /*text-decoration: none;
    */
    width: 45px;
    /*ancho*/
    height: 45px;
    /*alto*/
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    /*Separacion entre iconos*/
    background-color: #00000079;
    border-radius: 10px;
    /*Fondo del icono*/
    /* text-align: center; */
    position: relative;
    transition: all 300ms ease;
    /*transicion parael hover*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.red-social a:hover {
    background-color: #efefef;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.red-social a:active {
    background-color: aquamarine;
}

.red-social a img {
    position: absolute;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pie-pagina .grupo-2 {
    background-color: var(--blue-ribbon-950);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

/* Fin del Footer */

/* Responsive */
@media (max-width: 768px) {
    .main-nav {
        flex-direction: column;
        /* Cambia la dirección de los elementos */
        align-items: center;
        /* Centra los elementos verticalmente */
        padding: 10px;
        /* Ajusta el espaciado */
    }

    .logo {
        margin-left: 0;
    }

    .main-header .main-nav ul {
        margin: 0;
    }

    ul li a {
        padding: 10px;
    }



    .nav-link {
        display: none !important;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }



    .nav-link.active {
        display: block !important;
    }

    .menu-toggle {
        display: block;
    }
}



/* Estilos para dispositivos móviles */
@media (max-width: 768px) {}